<h2>Корзина</h2>

<hr>
{% if basket is empty %}
    Корзина пуста
{% else %}

    <div class="basket_box">
        {% for item in basket %}
            <div class="product_basket" id="{{ item.basket_id }}">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p>Цена: <span class="amount">{{ item.amount }}</span></p>
                <p>Количество: <span class="quantity">{{ item.quantity }}</span></p>

                <button data-id="{{ item.basket_id }}" class="delete">Удалить</button>

            </div>

        {% endfor %}
    </div>
    <a href="/order">Оформить заказ</a>

{% endif %}

<script>
    let buttons = document.querySelectorAll('.delete');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('data-id');

            (
                async () => {
                    const response = await fetch('/basket/delete/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            id: id
                        })
                    });
                    const answer = await response.json();
                    let price = +answer.price;
                    document.getElementById('count').innerText = answer.count;
                    document.getElementById('sum').innerText = answer.sum;
                    elem.parentNode.querySelector('.amount').innerText -= price;
                    elem.parentNode.querySelector('.quantity').innerText = answer.quantity;
                    if (answer.count < 1) {
                        displaySumOff();
                        document.getElementById('count').innerText = '0';
                    }

                    if (answer.quantity < 1) {
                        document.getElementById(id).remove();
                    }
                }
            )();
        })
    })
</script>